body{
   margin: 0px;
   font-family: 'Poppins';
   overflow-x: hidden;
}

h1{
    position: absolute;
    width: 794px;
    height: 68px;
    left: 323px;
    top: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 68px;
    color: #242F9B;
    margin-top: 100px;
}


div{
    background-color: #DBDFFD;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1294px;
    height: 141px;
    left: 46px;
    top: 42px;
}

nav img{
    position: absolute;
    height: 141px;
    width: 342px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    left: 0%;
    right: 73.57%;
    top: 0%;
    bottom: 0%;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
    clear float: right;
}

nav ul li  a {
    display: block;
    color: #959396;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 36px;
}

nav ul li {
    display: inline-block;
    width: 100px;
}

nav ul li button{
    background: #242F98;
    border-radius: 10px;
    width: 90px;
    padding: 12px 0px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;

}

.box1{
    height: 220px;
    margin: 150px 100px ;
    padding: 60px 105px;
    border-radius: 0px;
    color: rgba(118, 128, 133, 1);

}

.box1 h4{
    color: rgba(36, 47, 155, 1); 
    text-align: left;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    padding: 0;
    margin: 0;
 }

.box1 p{
    margin-right: 211px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200px;
    font-size: 18px;
    line-height: 36px;
}

.box2{
    height: 325px;
    margin: 75px 100px ;
    padding: 60px 105px;
    border-radius: 0px;
    color: rgba(118, 128, 133, 1);
}

.box2 h4{
    color: rgba(36, 47, 155, 1); 
    text-align: left;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    padding: 0;
    margin: 0;
 }

.box2 p{
    margin-right: 211px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200px;
    font-size: 18px;
    line-height: 36px;
}

.box3{
    height: 900px;
    margin: 75px 100px ;
    padding: 60px 105px;
    border-radius: 0px;
    color: rgba(118, 128, 133, 1);
}

.box3 h4{
    color: rgba(36, 47, 155, 1); 
    text-align: left;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    padding: 0;
    margin: 0;
 }

.box3 p{
    margin-right: 211px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200px;
    font-size: 18px;
    line-height: 36px;
}

.box3 ul{
    list-style: none;
}

.box3 .row .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
    box-sizing: border-box;
}


.box3 .row .column li{
    background: #FFFFFF;
    margin: 20px;
    width: 170px;
    height: 70px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 60px;
    text-align: center;
    border: #242F98;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.box4{
    height: 220px;
    margin: 75px 100px ;
    padding: 60px 105px;
    border-radius: 0px;
    color: rgba(118, 128, 133, 1);
}

.box4 h4{
    color: rgba(36, 47, 155, 1); 
    text-align: left;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    padding: 0;
    margin: 0;
 }

.box4 p{
    margin-right: 211px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200px;
    font-size: 18px;
    line-height: 36px;
}

.box5{
    height: 220px;
    margin: 75px 100px ;
    padding: 60px 105px;
    border-radius: 0px;
    color: rgba(118, 128, 133, 1);
}

.box5 h4{
    color: rgba(36, 47, 155, 1); 
    text-align: left;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    padding: 0;
    margin: 0;
 }

.box5 p{
    margin-right: 211px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200px;
    font-size: 18px;
    line-height: 36px;
}

.box6{
    height: 220px;
    margin: 75px 100px ;
    padding: 60px 105px;
    border-radius: 0px;
    color: rgba(118, 128, 133, 1);
}

.box6 h4{
    color: rgba(36, 47, 155, 1); 
    text-align: left;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    padding: 0;
    margin: 0;
 }

.box6 p{
    margin-right: 211px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200px;
    font-size: 18px;
    line-height: 36px;
}

.box7{
    height: 220px;
    margin: 75px 100px ;
    padding: 60px 105px;
    border-radius: 0px;
    color: rgba(118, 128, 133, 1);
}

.box7 h4{
    color: rgba(36, 47, 155, 1); 
    text-align: left;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    padding: 0;
    margin: 0;
 }

.box7 p{
    margin-right: 211px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200px;
    font-size: 18px;
    line-height: 36px;
}

.box8{
    height: 325px;
    margin: 75px 100px ;
    padding: 60px 105px;
    border-radius: 0px;
    color: rgba(118, 128, 133, 1);
}

.box8 h4{
    color: rgba(36, 47, 155, 1); 
    text-align: left;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    padding: 0;
    margin: 0;
 }

.box8 p{
    margin-right: 211px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200px;
    font-size: 18px;
    line-height: 36px;
}

.bottom{
    background-color: white;
    text-align: center;
}

.bottom h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #464646;
    margin-bottom: 40px;
}

.bottom .ask{
    background: #242F9B;
    border-radius: 10px;
    padding: 12px 36px;
    border: none;
    margin-right: 29px;
    font-family: 'Poppins';
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.bottom .view{
    background: white;
    border-radius: 10px;
    padding: 12px 36px;
    border: 1px solid #242F9B;
    font-family: 'Poppins';
    color: #242F9B;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

footer {
    margin-top: 100px;
	width: 100%;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #242f9b;
	color: white;

}
footer .last-div {
	width: 1216px;
	display: flex;
	justify-content:space-evenly;
    background-color: #242f9b
}
footer .bottom-icon {
	width: 100px;
}
footer .column {
	width: 160px;
    background-color: #242F98;
}
