<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>FAQ</title>
</head>
<body>
 
    <nav>
        <a href=""><img src="media/logo.svg" ></a>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Dashboard</a></li>
            <li><a href="">Templates</a></li>
            <li><a href="">Pricing</a></li>
            <li><a href="">FAQ</a></li>
            <li><a href="">Sign In</a></li>
            <li><button class="signup">Sign Up</button></li>

        </ul>
    </nav>

    <h1>Frequently Asked Questions</h1>

    <div class="box1">
        <h4>What is Feedback Gen?</h4>
        <p>Feedback Gen is a powerful online application that allows anyone to quickly create custom online feedback forms. Its intuitive drag-and-drop user interface makes form building incredibly simple, and doesn’t require you to write a single line of code. Using Feedback Gen, you can create and publish feedback forms, integrate them into your site, and receive responses by email.</p>
    </div>

    <div class="box2">
        <h4>Why Feedback Gen?</h4>
        <p>Feedback Gen will have your feedback forms up and running in seconds! We’re the easiest form builder with the most advanced capabilities, including the industry’s top design and customization tools. Don’t know where to start? We have thousands of ready-made templates to get your form rockin’. Our conditions tool can show or hide whatever form fields you choose, depending on how people expect feedback. Feedback Gen also lets you add your company logo, custom color schemes, and stunning background images.</p>
    </div>

    <div class="box3">
        <h4>What can I do with Feedback Gen?</h4>
        <p>Feedback Gen enables you to create online feedback forms, collect responses directly in your email, and create editable feedback forms. You can put together all types of feedback, including:</p>
        <div class="row">
            <div class="column">
                <ul>
                    <li>Peer Forms</li>
                    <li>Patient Forms</li>
                    <li>Open House Forms</li>
                    <li>Event Forms</li>
                    <li>Interview Forms</li>
                    <li>Student Forms</li>
                    <li>Course Forms</li>
                </ul>
            </div>

            <div class="column">
                <ul>
                    <li>Parent Forms</li>
                    <li>Teacher Forms</li>
                    <li>Employee Forms</li>
                    <li>Customer Forms</li>
                    <li>Training Forms</li>
                    <li>Session Forms</li>
                    <li>Contact Us Forms</li>
                </ul>  
            </div>

            <div class="column">
                <ul>
                    <li>Travel Forms</li>
                    <li>Real Estate Forms</li>
                    <li>Service Forms</li>
                    <li>Product Forms</li>
                    <li>Testimonial Forms</li>
                    <li>Questioniare Forms</li>
                    <li>Assessment Forms</li>
                </ul>
            </div>
        </div>
           
            
    </div>

    <div class="box4">
        <h4>Do I need coding experience to create a form?</h4>
        <p>Not at all! With Feedback Gen drag-and-drop builder, you don’t need any coding experience to create the perfect form for your needs. Advanced users can go directly into the HTML code and make adjustments, but it’s absolutely not necessary. With our Theme Designer, you can change the style of your form with just a few clicks.</p>
    </div>

    <div class="box5">
        <h4>Is Feedback Gen free?</h4>
        <p>Feedback Gen has multiple subscription options, including a free plan. Free users have access to all of the same features as paid users, but with lower limits on form counts, form submissions, form views, upload space and submission storage. To check out the different options, visit Pricing page</p>
    </div>

    <div class="box6">
        <h4>How do I add Feedback Gen forms to my website?</h4>
        <p>When you publish your online form, you’ll have the option to use it as a standalone link, or to embed it directly into your website. Embedding simply requires you to copy and paste the embed code we provide.</p>
    </div>

    <div class="box7">
        <h4>How secure is my data with Feedback Gen?</h4>
        <p>Feedback Gen takes the security of your data very seriously. All Jotform standalone form links and embed codes are secure (SSL) by default, and we give all users the option to encrypt their data. Jotform also adheres to strict European data protection laws by allowing users to store their data on secure German servers if they choose.</p>
    </div>

    <div class="box8">
        <h4>What happens to my data when I downgrade my account?</h4>
        <p>If you decide to downgrade your account, your data will still be securely stored like it always has been and as long as it does not go over the total submission storage on free accounts. Also, your forms will be disabled if you go over the monthly submission limit on your downgraded plan or any other limit, such as the number of forms. You can check your submission and data storage levels by clicking on the account icon on the top right of your page when logged in and reviewing the progress bars.</p>
    </div>

    <div class="bottom">
            <h4>Still have unanswered questions?</h4>
            <button class="ask">Ask your question</button>
            <button class="view">View Learn More</button>
    </div>

    <footer>
        "//create a footer using htm "
    </footer>
</body>
</html>