<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="./css/preview.css"/>
    <title>Preview</title>
</head>
<body>
    <main>
        <header>
            <div class="arrow">&#8592</div>

            <div class="preview"> <h2>Preview</h2></div>

        </header>
        
        <div class="content">
            <section class="top"><h2>Contact Us Form</h2></section>
            <div class="firstName">
                <label for="fname">First Name</label>
                <input type="text" class="fname" id="fname" name="fname">
            </div>

            <div class="lastName">
                <label for="lname">Last Name</label>
                <input type="text" class="lname" id="lname" name="lname">
            </div>

            <div class="email">
                <label for="email">Email</label>
                <input type="email" class="email" id="email" name="email">
            </div>

            <div class="message">
                <label for="message">Message</label>
                <textarea class="message" id="message" name="message"></textarea>
            </div>

        </div>
    </main>
</body>
</html>