<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
   <header><h1>Sign up Page</h1></header>
  <main class="main">
  <div class="content">
  
  <div>
  <form action="">
     <p>Username</p>
  <table>
  <tr>
  <td><input type="enter your username" value="enter your  username" style="width: 300px; height: 40px; margin: 5px" required/></td>  
  </tr>
  </table>  
  </form>  
  <p>Password</p>
    <div>
  <form action="">
  <table>
  <tr>
  <td><input type="enter your Password" value="enter your Password" style="width: 300px; height: 40px; margin: 5px" required/></td>  
  </tr>
  </table>  
  </form>
       <p>Confirm Password</p>
    <div>
  <form action="">
  <table>
  <tr>
  <td><input type="enter your Password" value="enter your Password" style="width: 300px; height: 40px; margin: 5px" required/></td>  
  </tr>
  </table>  
  </form>
   </table>
            <div>
   <button class="button" style=" width: 310px; height: 40px; text-align: center; margin: 5px;">Sign up</button>
      </div>
  </div>  
  </div>
<!--         <div class="side content"> -->
     <div>
     <h3>Register for free trial</h3> 
       <p>Welcome to feedback_gen.Register and start your free trial</p>
     </div> 
    </div>
  </main>
  <script src="script.js"></script>

 <!--
  This script places a badge on your repl's full-browser view back to your repl's cover
  page. Try various colors for the theme: dark, light, red, orange, yellow, lime, green,
  teal, blue, blurple, magenta, pink!
  -->
  <script src="https://replit.com/public/js/replit-badge.js" theme="blue" defer></script> 
</body>

</html>