<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/core/template.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v6.2.1/css/all.css">

</head>
<body>
    <div class="page">
    <nav>
        <a href="/templates/core/landing.html"><img src="/static/core/logo.svg" ></a>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Dashboard</a></li>
            <li><a href="/templates/core/template.html">Templates</a></li>
            <li><a href="/templates/core/pricing.html">Pricing</a></li>
            <li><a href="/templates/core/faq.html">FAQ</a></li>
            <li><a href="/templates/core/signin.html">Sign In</a></li>
            <li> <a href="/templates/core/signup.html"><button class="signup">Sign Up</button></a></li>

        </ul>
    </nav>
    <div class="grid-container">

        <div class="grid-child purple">
            <div class="sidebar">
                <a href="">Templates</a>
                <a href="">My Forms</a>
                <a href="#">Analytics</a>
                <a href="#">Trash</a>
                <a href="#">Profile</a>
                <a href="#">Settings</a>
              </div>
        </div>
    
        <div class="grid-child green">
            <div class="content">
                <div class="wrap">
                    <div class="search">
                       <input type="text" class="searchTerm" placeholder="Search for Template">
                       <button type="submit" class="searchButton">
                        <i class="fa-solid fa-magnifying-glass"></i>              
                    </button>
                    </div>
                 </div>
               
                <div class="wrapper">   
                    <div class="head">  
                        <h2 class="sub-head">Basic Templates <span class="right"><a href=""> See more </a></span></h2>
                    </div>                <div class="cards_wrap">
                            <div class="card_item">
                                <div class="card_top">
                                    <img src="/static/core/Image.png" height="203.19px" alt="car" />
                                </div>
                            <div class="card_bottom">
                                <div class="card_category">
                                    Blank
                                </div>
                            </div>
                            </div>
                        <div class="card_item">
                            <div class="card_top">
                                <img src="/static/core/template img 5.png" alt="car" />
                            </div>
                            <div class="card_bottom">
                                <div class="card_category">
                                    One Page
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
                <div class="wrapper">
                    <div class="head">  
                        <h2 class="sub-head">Popular Templates <span class="right"><a href=""> See more </a></span></h2>
                    </div> 
                        <div class="cards_wrap">
                            <div class="card_item">
                                <div class="card_top">
                                    <img src="/static/core/template img7.png" alt="car" />
                                </div>
                            <div class="card_bottom">
                                <div class="card_category">
                                    Customer's Feedback Form
                                </div>
                            </div>
                            </div>
                        <div class="card_item">
                            <div class="card_top">
                                <img src="/static/core/template img 2.png" alt="car" />
                            </div>
                            <div class="card_bottom">
                                <div class="card_category">
                                   New Product Survey
                                </div>
                            </div>
                        </div>
                        <div class="card_item">
                            <div class="card_top">
                                <img src="/static/core/template img 3_4.png" alt="car" />
                            </div>
                            <div class="card_bottom">
                                <div class="card_category">
                                    Customer Satisfaction
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
        
                <div class="wrapper">
                    <div class="head">  
                        <h2 class="sub-head">Business Templates <span class="right"><a href=""> See more </a></span></h2>
                    </div> 
                        <div class="cards_wrap">
                            <div class="card_item">
                                <div class="card_top">
                                    <img src="/static/core/template img6.png" alt="car" />
                                </div>
                            <div class="card_bottom">
                                <div class="card_category">
                                    Employee Idea
                                </div>
                            </div>
                            </div>
                            <div class="card_item">
                                <div class="card_top">
                                    <img src="/static/core/template img 5.png" alt="car" />
                                </div>
                            <div class="card_bottom">
                                <div class="card_category">
                                    Customer's Feedback Form
                                </div>
                            </div>
                            </div>
                            <div class="card_item">
                                <div class="card_top">
                                    <img src="/static/core/template img 3_4.png" alt="car" />
                                </div>
                            <div class="card_bottom">
                                <div class="card_category">
                                    Customer's Satisfaction
                                </div>
                            </div>
                            </div>
                            <div class="card_item">
                                <div class="card_top">
                                    <img src="/static/core/template img9.png" alt="car" />
                                </div>
                            <div class="card_bottom">
                                <div class="card_category">
                                    Customer's Survey
                                </div>
                            </div>
                            </div>
                        <div class="card_item">
                            <div class="card_top">
                                <img src="/static/core/template img 2.png" alt="car" />
                            </div>
                            <div class="card_bottom">
                                <div class="card_category">
                                   New Product Survey
                                </div>
                            </div>
                        </div>
                        <div class="card_item">
                            <div class="card_top">
                                <img src="/static/core/template img7.png" alt="car" />
                            </div>
                            <div class="card_bottom">
                                <div class="card_category">
                                    Customer's Feedback Form
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
        
                <div class="wrapper">
                    <div class="head">  
                        <h2 class="sub-head"> Others  <span class="right"><a href=""> See more </a></span></h2>
                    </div>  
                        <div class="cards_wrap">
                            <div class="card_item">
                                <div class="card_top">
                                    <img src="/static/core/template img 12.png" alt="car" />
                                </div>
                            <div class="card_bottom">
                                <div class="card_category">
                                    Healthcare Forms
                                </div>
                            </div>
                            </div>
                            <div class="card_item">
                                <div class="card_top">
                                    <img src="/static/core/template img 11.png" alt="car" />
                                </div>
                            <div class="card_bottom">
                                <div class="card_category">
                                    Education Forms
                                </div>
                            </div>
                            </div>
                            <div class="card_item">
                                <div class="card_top">
                                    <img src="/static/core/template img10.png" alt="car" />
                                </div>
                            <div class="card_bottom">
                                <div class="card_category">
                                    Events
                                </div>
                            </div>
                            </div>
                            <div class="card_item">
                                <div class="card_top">
                                    <img src="/static/core/template img13.png" alt="car" />
                                </div>
                            <div class="card_bottom">
                                <div class="card_category">
                                    Training
                                </div>
                            </div>
                            </div>
                        <div class="card_item">
                            <div class="card_top">
                                <img src="/static/core/template img 5.png" alt="car" />
                            </div>
                            <div class="card_bottom">
                                <div class="card_category">
                                   Research Form
                                </div>
                            </div>
                        </div>
                        <div class="card_item">
                            <div class="card_top">
                                <img src="/static/core/template img10.png" alt="car" />
                            </div>
                            <div class="card_bottom">
                                <div class="card_category">
                                    Dinner Party
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
        
        </div>
      
    </div>
    </div>

    </div>
    <footer>
        <div class="last-div">
            <div class="column">
                <img src="/static/core/logo.png" class="bottom-icon" />
                <p>Create your embedded feedback forms</p>
                <p>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                </p>
            </div>
            <div class="column">
                <p>Homepage</p>
                <p>Features</p>
                <p>Use Cases</p>
                <p>Integartion</p>
                <p>Pricing</p>
            </div>
            <div class="column">
                <p>Contact</p>
                <p>Social Media</p>
                <p>Terms & Condition</p>
                <p>Privacy Policy</p>
            </div>
            <div class="column">
                <p>Documentation</p>
                <p>FAQ</p>
            </div>
        </div>
    </footer>


</body>
</html>